:root {
  --baseColor: rgb(13, 17, 27);
  --accentColor: ;
}

* {
  scroll-behavior: smooth;
}

body {
  color: whitesmoke;
  font-size: 0.8rem;
}

nav {
  background: var(--baseColor);
}

nav h3 {
  color: white;
}

textarea {
  overflow: auto;
  resize: none;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:visited {
  color: white;
  font-size: 1.1rem;
}

select {
  background: white;
}

select option {
  color: black;
}

.navbar select.form-control-sm:after {
  color: red;
}

.navbar select,
.navbar select:focus {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.Form {
  text-align: center;
}

footer {
  color: white;
  text-align: center;
  letter-spacing: 0.8px;
  word-spacing: 2px;
  margin-top: 3em;
  padding: 0.3em 0;
  background-color: rgb(13, 17, 27);
}

.btn {
  margin: 1rem auto;
  width: 30%;
}

footer a,
footer a:active footer a:visited {
  color: white;
  padding: 0 0.4rem 0 0.4rem;
}

footer a:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  textarea.form-control {
    height: 25rem;
  }

  body {
    font-size: 1rem;
  }

  .navbar-brand,
  .navbar-brand:hover,
  .navbar-brand:active,
  .navbar-brand:visited {
    color: white;
    font-size: 1.2rem;
  }
}
